/* COMMON STYLES */

body {
    background: url('../images/bg_img.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
}

.container {
    margin: auto;
    max-width: 1030px;
    padding-top: 40px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}


/* HEADER STYLES*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    display: flex;
    justify-content: space-between;
}

.header-logo-link:hover{
    filter: invert(48%) sepia(32%) saturate(3031%) hue-rotate(346deg) brightness(96%) contrast(97%);
}

.header-logo-text {
    margin-left: 8px;
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;
}

.text-normal-bold {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.contacts-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    line-height: 38px;
}

.header-contact-link:hover {
    color: #F26522;
}

.header-contact-link {
    margin-left: auto
}


/* MAIN STYLES*/

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 36px 64px;
    grid-auto-rows: 260px;
    margin-top: 17px;
    text-align: center;
}

.card-album {
    box-sizing: content-box;
    position: relative;
}

.card-body {
    display: inline-block;
    border-image-slice: 1;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 18px;
}

.card-album:hover .card-text {
    color: #F26522;
}

.card-text {
    text-transform: capitalize;
    margin-top: 20px;
}

.card-details {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #F26522;
    color: white;
    bottom: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.price-container {
    display: inline-block;
    vertical-align: bottom;
}

.card-album:hover .card-details, .card-details:hover {
    display: flex;
}

.card-small-text {
    margin: 0;
    font-size: 10px;
    text-align: left;
}

.card-view-details {
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;
    align-self: auto;
    transition: 0.2s;
    padding: 8px 0;
    cursor: pointer;
    text-transform: capitalize;
}

.card-big-text {
    margin: 0;
    font-size: 20px;
}

.card-view-details::after {
    content: ">";
    padding-left: 16px;
}


/* FOOTER STYLES*/

.footer {
    text-align: center;
    margin-top: 50px;
}

.footer p {
    font-size: 12px;
}