body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.list-item {
    list-style-type: none;
}

/* HEADER START */

.header{
    padding-top: 61px;
    list-style-type: none;
}

.header-inline {
    display: inline-block;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.color-blue {
    color: #18a0fb;
}

.nav-list {
    margin-top: 38px;
    background: #35444F;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-item {
    padding: 20px 34px;
    border-left: solid white 1px;
}

.nav-item-link {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

/* HEADER END */

/* MAIN START */

.main-block {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.aside-block {
    width: 344px;
}

.aside-list {
    box-sizing: border-box;
    border: 1px solid #000;
}

.aside-item {
    padding: 25px 44px;
}

.aside-item:hover {
    background: #DBDBDB;
    padding-left: 60px;
    transition-duration: 0.1s;
}

.aside-item-link {
    font-size: 27px;
    text-decoration: none;
    color: #485863;
}

.center-block {
    width: 885px;
}

.main-logo-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
    border: 1px solid #000000;
}

.main-logo-container img {
    transition: 0.3s;
}

.main-logo-container img:hover {
    transform: scale(1.1)
}

.text-description {
    line-height: 24px;
    font-size: 18px;
    margin-top: 34px;
}

/* MAIN END */

/* FOOTER START */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 30px;
    padding: 20px;
    background: silver;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.list-item-footer {
    margin-right: 30px;
}

.footer-item-link {
    line-height: 28px;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, padding 0.3s, border-bottom-color 0.2s;
}

.footer-item-link:hover {
    color: #18a0fb;
    padding-bottom: 8px;
    border-bottom-color: #18a0fb;
}

.text-copyright {
    text-align: center;
    line-height: 24px;
    font-size: 24px;
}

/* FOOTER END */