* {
    font-family: sans-serif;
}

/* HEADER START */

.nav-list {
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin: 25px 36px;
}

.nav-item-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.img-header {
    width: 100%;
    margin-bottom: 48px;
}

/* HEADER END */

/* MAIN SECTION START */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.section-main {
    text-align: center;
    color: #373737;
}

.section-main-title {
    margin-bottom: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.section-main-description {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 26px;
}

.btn-getstart {
    display: block;
    margin: 66px auto;
    padding: 18px 40px;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
}

/* MAIN SECTION END */

/* FOOTER START */
.page-bottom{
    padding: 40px 0;
}

.copyright-footer {
    text-align: right;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
}

/* FOOTER END */
